#emacs
*~
\#*\#
*.elc
auto-save-list
tramp
.\#*
skel/dot.emacs.d/history
skel/dot.emacs.d/eshell/history

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Windows Binary
WindowsBinary



skel/dot.emacs.d/ac-comphist.dat
skel/dot.emacs.d/places
skel/dot.emacs.d/recentf
skel/dot.emacs.d/elpa/archives/gnu/archive-contents
skel/dot.emacs.d/elpa/archives/gnu/archive-contents.signed
skel/dot.emacs.d/elpa/archives/marmalade/archive-contents
skel/dot.emacs.d/elpa/archives/melpa/archive-contents
skel/dot.emacs.d/elpa/gnupg/pubring.gpg
skel/dot.emacs.d/elpa/gnupg/secring.gpg
skel/dot.emacs.d/elpa/gnupg/trustdb.gpg
skel/dot.emacs.d/elpa/atom-dark-theme-20151119.2335/atom-dark-theme.el
skel/dot.emacs.d/elpa/atom-dark-theme-20151119.2335/atom-dark-theme-autoloads.el
skel/dot.emacs.d/elpa/atom-dark-theme-20151119.2335/atom-dark-theme-pkg.el
skel/dot.emacs.d/elpa/migemo-20150412.741/migemo-autoloads.el
skel/dot.emacs.d/elpa/migemo-20150412.741/migemo-pkg.el
skel/dot.emacs.d/elpa/migemo-20150412.741/migemo.el
skel/dot.emacs.d/elpa/neotree-20151101.607/icons/close.xpm
skel/dot.emacs.d/elpa/neotree-20151101.607/icons/leaf.xpm
skel/dot.emacs.d/elpa/neotree-20151101.607/icons/open.xpm
skel/dot.emacs.d/elpa/neotree-20151101.607/neotree-autoloads.el
skel/dot.emacs.d/elpa/neotree-20151101.607/neotree-pkg.el
skel/dot.emacs.d/elpa/neotree-20151101.607/neotree.el
emacs.exe.stackdump
skel/dot.emacs.d/server
skel/dot.emacs.d/url/cache/toruv/http/org/gnu/www/176c08f789ea380119c62f44e6df168f
skel/dot.emacs.d/url/cache/toruv/http/org/gnu/www/37dff1b7ba472c55a28f9151d55dcebc
skel/dot.emacs.d/url/cache/toruv/http/org/gnu/www/4637bc6238e237d08d597b0401542f14
skel/dot.emacs.d/url/cache/toruv/http/org/gnu/www/814592743ced53740b5d4ad4a9e877d0
skel/dot.emacs.d/url/cache/toruv/http/org/gnu/www/82ff36e6a213c89b885639dc4aa8e84e
