<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="dropbox" />
  <package id="winrar" />
  <package id="itunes" />
  <package id="kindle" />
  <package id="line" />
  
<!--
  <package id="chocolateytestpackage" version="0.1" source="somelocation" />
  <package id="alloptions" version="0.1.1"
           source="https://somewhere/api/v2/" installArguments=""
           packageParameters="" forceX86="false" allowMultipleVersions="false"
           ignoreDependencies="false"
           />

  <package id="pandoc" />
  <package id="miktex" />

-->
</packages>
