<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="google-chrome-x64" />
  <package id="sourcetree" />
  <package id="clover" />
  <package id="devbox-rapidee" />
  <package id="lhaplus" />
  <package id="winrar" />
  <package id="itunes" />
  <package id="vlc" />
  <package id="googlejapaneseinput" />
  <package id="python" />
  <package id="pip" />
  <package id="mingw" />
  <package id="imagemagick" />
  <package id="nodejs" />

<!--
  <package id="chocolateytestpackage" version="0.1" source="somelocation" />
  <package id="alloptions" version="0.1.1"
           source="https://somewhere/api/v2/" installArguments=""
           packageParameters="" forceX86="false" allowMultipleVersions="false"
           ignoreDependencies="false"
           />

  <package id="pandoc" />
  <package id="miktex" />

-->
</packages>
