<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="google-chrome-x64" />
  <package id="adobereader" />
  <package id="mpc-hc" />
  <package id="cccp" />
  <package id="conemu" />
  <package id="sourcetree" />
  <package id="clover" />
  <package id="rapidee" />
  <package id="virtualbox" />
  <package id="lhaplus" />
  <package id="vlc" />
  <package id="googlejapaneseinput" />
  <package id="mingw" />
  <package id="irfanview" />
  <package id="irfanviewplugins" />
  <package id="vcredist2010" />
  <package id="vcredist2012" />
  <package id="vcredist2015" />  
  <package id="visualstudiocode" />
  <package id="xnview" />
  <package id="mpv" />
  <package id="hwinfo" />
  <package id="tortoisesvn">
  <package id="ffmpeg">
  <package id="nodejs" />
  <package id="xmind" />
  <package id="phantomjs" />

<!--
  <package id="chocolateytestpackage" version="0.1" source="somelocation" />
  <package id="alloptions" version="0.1.1"
           source="https://somewhere/api/v2/" installArguments=""
           packageParameters="" forceX86="false" allowMultipleVersions="false"
           ignoreDependencies="false"
           />

  <package id="pandoc" />
  <package id="miktex" />

-->
</packages>
